#root {
   background-color: #02401d;
}
.blockForm {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   gap: 60px;
}

.blockForm button,
.contentBlok button,
.filterBtn {
   background-color: #308c50;
   border: none;
   padding: 6px 12px;
   font-size: 20px;
   transition: all 0.5s;
}
.blockForm button:hover,
.contentBlok button:hover,
.filterBtn:hover {
   background-color: #01260e;
   color: #aabfaf;
   box-shadow: 0px 0px 4px #aabfaf;
   transform: scale(1.1);
   transition: all 0.5s;
}

.filmsBlock {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 1.25rem;
   row-gap: 3.5rem;
   padding: 16px;
}
.filterBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 0 1 100%;
}
.filterBtn {
   flex: 0 1 100%;
}
.filterBlock button,
.filterBlock label,
.filterBlock select,
.filterBtn {
   width: 50vw;
   max-width: 200px;
}
.filmCard {
   display: flex;
   flex-direction: column;
   flex: 0 1 30%;
   box-shadow: 0px 0px 4px #aabfaf;
   background-color: #267341;
}
.imageCard {
   width: 100%;
   height: 400px;
   overflow: hidden;
}
img {
   width: 100%;
   height: 100%;
   -o-object-fit: contain;
   object-fit: contain;
}
.contentBlok {
   padding: 16px;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.contentBlok button {
   align-self: stretch;
}
form,
.video {
   display: none;
}
.form-show,
.video-show {
   display: block;
}
iframe {
   width: 100%;
}
.form-show {
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.form-show input,
select,
.all {
   font-size: 18px;
   padding: 4px 8px;
   background-color: #aabfaf;
}
.btn {
   margin-bottom: -30px;
}
.filterBlock label {
   font-size: 18px;
   font-weight: 600;
   padding: 8px;
   text-transform: capitalize;
}
.filterBlock select {
   margin-top: 10px;
}
